.header>h1 {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 400%;
}

.red-cloud>img {
    border-radius: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 400%;
    width: 300px;
    height: 100%;
    display: inline-block;
    right: 200px;

}

.red-cloud {
    padding-top: 50px;
}

button {
    width: 200px;
    height: 100px;


    background-color: black;
    color: white;
    border-color: white;
    display: inline-block;


}



.header {
    background-color: black;

}



i {
    font-size: 200%;
}

.menu-text {
    font-size: 200%;
}

/* footer */

footer {
    background-color: black;
    height: 200px;
    width: 100%;
    padding-top: 50px;
}

.social-media-text {
    color: white;

}

.social-media-icon {
    text-align: center;
}

.social-media-icon>li {
    display: inline;
    padding: 10%;
    padding-top: 20px;
}