.header>h1 {
    font-family: "Kanit", sans-serif;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 400%;
}

.title {
    font-family: "Kanit", sans-serif;
    text-align: center;
    color: white;
    font-size: 400%;
}

.confirm-text {
    font-family: "Kanit", sans-serif;
    font-size: 150%;
    color: white;
    text-align: center;
}

a:link {
    text-decoration: none;
}


.column {
    float: left;
    width: 50%;
}


.main {
    background-image: url("../images/japanese_style_background.jpg");
}

/* Clear floats after the columns */


.red-cloud>img {
    border-radius: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 400%;
    width: 300px;
    height: 100%;
    display: inline-block;
    right: 200px;
}

.red-cloud {
    padding-top: 50px;
}

button {
    width: 200px;
    height: 100px;

    background-color: black;
    color: white;
    border-color: white;
    display: inline-block;
}

.header {
    background-color: black;
}

i {
    font-size: 200%;
}

.menu-text {
    font-size: 200%;
    font-family: "Kanit", sans-serif;
}

.btn .btn-dark .dropdown-toggle {
    flex-direction: row;
}

/* footer */

footer {
    background-color: black;
    height: 400px;
    width: 100%;
    padding-top: 50px;
}

.social-media-text {
    color: white;
}

.social-media-icon {
    text-align: center;
}

.social-media-icon>li {
    display: inline;
    padding: 10%;
    padding-top: 20px;
}

/* map */

.map-text {
    background-color: black;
    color: white;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

.order-list {
    background-color: black;
    color: white;
    text-align: center;
}

/* table */

.order {
    background-color: black;
}

.order-table {
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-family: "Kanit", sans-serif;
    color: white;

}

.submit-button {
    margin-left: auto;
    margin-right: auto;
}

#sushi_table {
    padding-left: 60px;
}

.total-price {
    text-align: center;
    font-size: 200%;
    font-family: "Kanit", sans-serif;
    color: white;
}

/* form */

.booking-area {
    background-color: black;

}


.order-text {
    color: white;

}

form {
    padding-top: 20px;
    text-align: center;
}


/*sushi image*/

.sushi {
    display: inline;
}

img {
    width: 25%;
    height: auto;
}

.nigiri {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 400%;
}

.menu {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 200%;
}

input {
    display: inline;
}

.ramen {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 400%;
}

.ramen-text {
    color: black;
}

.order_text {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 200%;
}

.sushi-text {
    color: black;
}

.beer {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 400%;
}

.drink-text {
    color: black;
}

.tea {
    text-align: center;
}

.water {
    text-align: center;
}

.soy_oil {
    text-align: center;
}

.wasabi {
    text-align: center;
}

.inari {
    text-align: center;
}

/* login */

.login {
    color: black;
    font-family: "Kanit", sans-serif;
    font-size: 100%;
}

.login_head {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 400%;
}

.logout_head {
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 400%;
}

.logout_tea {
    text-align: center;
}

.login {
    font-family: "Kanit", sans-serif;
    color: black;
}

.sign-up-text {
    text-align: center;
    font-size: 200%;
    font-family: "Kanit", sans-serif;
}

.row>* {
    padding: 0;
}

.view-order-table {
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    font-family: "Kanit", sans-serif;

}

.confirm_booking_text {
    text-align: center;
}