{% extends "base.html" %} {% load static %} {% block content %}

<h1>Nigiri Sushi</h1>

<p>Menu</p>

<form>
  <div class="salmon_sushi">
    <p>Raw Salmon x 3</p>
    <img src="{% static '/images/salmon_sushi.jpeg' %}" />
    <input type="checkbox" name="raw_salmon" id="raw_salmon" />
  </div>
  <div>
    <p>Raw Tuna x 3</p>
    <img src="{% static 'images/tuna_sushi.jpeg' %}" class="tuna_photo" />
    <input type="checkbox" name="raw_tune" id="raw_tune" />
  </div>
  <input type="checkbox" name="" id="" />
  <input type="checkbox" name="" id="" />
</form>
{% endblock %}
