{% extends "base.html" %} {% load static %} {% block content %}

<h1>Nigiri Sushi</h1>

<p>Menu</p>

<form>
  <div class="salmon_sushi">
    <p>Raw Salmon x 3</p>
    <img src="{% static '/images/salmon_sushi.jpeg' %}" />
    <input type="checkbox" name="raw_salmon" id="raw_salmon" />
  </div>
  <div class="tuna_sushi">
    <p>Raw Tuna x 3</p>
    <img src="{% static 'images/tuna_sushi.jpeg' %}" class="tuna_photo" />
    <input type="checkbox" name="raw_tune" id="raw_tune" />
  </div>
  <div>
    <p>Shrimp x 3</p>
    <img src="{% static 'images/shrimp_sushi.jpg' %}" class="shrimp_photo" />
    <input type="checkbox" name="shrimp" id="shrimp" />
  </div>
  <div>
    <p>Sea Urchin x 3</p>
    <img
      src="{% static 'images/seaurchin_sushi.jpeg' %}"
      class="seaurchin_sushi"
    />
    <input type="checkbox" name="seaurchin_sushi" id="seaurchin_sushi" />
  </div>
  <div>
    <p>Ikura x 3</p>
    <img src="{% static 'images/Ikura_sushi.jpg' %}" class="Ikura_sushi" />
    <input type="checkbox" name="ikura" id="ikura" />
  </div>
  <div>
    <p>Amberjack x 3</p>
    <img
      src="{% static 'images/amberjack_sushi.jpeg' %}"
      class="amberjack_sushi"
    />
    <input type="checkbox" name="amberjack" id="amberjack" />
  </div>
  <div>
    <p>None</p>
    <input type="checkbox" name="None" id="None" />
  </div>
  <input type="submit" />
</form>
{% endblock %}
