{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="nigiri">Nigiri Sushi</h1>

<p class="menu">Menu</p>


    
<div class="container">
    <div class="row">
  <div class="sushi col-lg-4">
    <p>Raw Salmon x 3</p>
    <img src="{% static '/images/salmon_sushi.jpeg' %}" />
    <p>Price: £ 5.00</p>
  </div>
  <div class="sushi col-lg-4">
    <p>Raw Tuna x 3</p>
    <img src="{% static 'images/tuna_sushi.jpeg' %}" class="tuna_photo" />
    <p>Price: £ 5.00</p>
  </div>
  <div class="sushi col-lg-4">
    <p>Shrimp x 3</p>
    <img src="{% static 'images/shrimp_sushi.jpg' %}" class="shrimp_photo" />
    <p>Price: £ 6.00</p>
  </div>
  <div class="sushi col-lg-4">
    <p>Sea Urchin x 3</p>
    <img
      src="{% static 'images/seaurchin_sushi.jpeg' %}"
      class="seaurchin_sushi"
    />
    <p>Price: £ 7.00</p>
  </div>
  <div class="sushi col-lg-4">
    <p>Ikura x 3</p>
    <img src="{% static 'images/Ikura_sushi.jpg' %}" class="Ikura_sushi" />
    <p>Price: £ 5.00</p>
  </div>
  <div class="sushi col-lg-4">
    <p>Amberjack x 3</p>
    <img
      src="{% static 'images/amberjack_sushi.jpeg' %}"
      class="amberjack_sushi"
    />
    <p>Price: £ 6.00</p>
  </div>
  
</div>
</div> 
  


<h1 class="nigiri">Inari Sushi</h1>

<p class="menu">Menu</p>


    <div class="container">
        <div class="row">
      <div class="sushi col-lg-12 inari">
        <p>Inari Sushi x 3</p>
        <img src="{% static '/images/inari_sushi.jpeg' %}" />
        <p>Price: £ 6.00</p>
      </div>
      
      
      
    </div>
    </div> 
    
    


<h1 class="nigiri">Maki Sushi</h1>

<p class="menu">Menu</p>

    <div class="container">
        <div class="row">
      <div class="sushi col-lg-6">
        <p>6 with 3 kinds of fish salmon, tuna, amberjack</p>
        <img src="{% static '/images/maki_sushi_1.jpeg' %}" />
        <p>Price: £ 9.00</p>
      </div>
      <div class="sushi col-lg-6">
        <p>6 with cucumber, carrot and egg</p>
        <img src="{% static '/images/maki_sushi_2.jpg' %}" />
        <p>Price: £ 9.00</p>
      </div>
      <div class="sushi col-lg-6">
        <p>6 with sesame topping, cucumber, egg and crab stick inside</p>
        <img src="{% static '/images/maki_sushi_3.webp' %}" />
        <p>Price: £ 9.00</p>
      </div>
      
      
    </div>
    </div> 
    



<h1 class="nigiri">Temaki Sushi</h1>

<p class="menu">Menu</p>

    <div class="container">
        <div class="row">
      <div class="sushi col-lg-3">
        <p>Crab Stick, carrot and cucumber  x 3</p>
        <img src="{% static '/images/temaki_1.jpeg' %}" />
        <p>Price: £ 6.00</p>
      </div>
      
      <div class="sushi col-lg-3">
        <p>shrimp and cucumber  x 3</p>
        <img src="{% static '/images/temaki_2.jpg' %}" />
        <p>Price: £ 6.00</p>
      </div>

      <div class="sushi col-lg-3">
        <p>Ikura, egg, and salad vegetables  x 3</p>
        <img src="{% static '/images/temaki_4.jpg' %}" />
        <p>Price: £ 6.00</p>
      </div>

      <div class="sushi col-lg-3">
        <p>Salmon x 3</p>
        <img src="{% static '/images/temaki_3.jpg' %}" />
        <p>Price: £ 6.00</p>
      </div>

      
    </div>
    </div> 
    
    
<div class="soy_oil">

<h1 class="nigiri">Soy Oil</h1>

<div class="sushi col-lg-12 center">
    <img src="{% static '/images/soy_sauce.png' %}" />
    <p>free</p>    
  </div>

</div>
  

<div class="wasabi">


<h1 class="nigiri">Wasabi</h1>

    <div class="sushi col-lg-12 center">
        
        <img src="{% static '/images/wasabi.png' %}" />
        <p>free</p>
      </div>
    
    </div>  
      
    
      <h2 class="order_text">Make your order</h2>

    <form method="POST" action="{% url 'sushi_order' %}">
        {% csrf_token %}
        
        <label for="nigiri"><p class="sushi-text">Nigiri Sushi:</p></label>
        <select name="nigiri_sushi" id="nigiri_sushi">
          <option value= 1>raw salmon x 3</option>
          <option value= 2>raw tuna  x 3</option>
          <option value= 3>shrimp  x 3</option>
          <option value= 4>sea urchin  x 3</option>
          <option value= 5>ikura  x 3</option>
          <option value= 6>amberjack  x 3</option>
          <option value= 7>None</option>
        </select>
        <br><br>
    
        <label for="inari"><p class="sushi-text">Inari Sushi:</p></label>
        <select name="inari_sushi" id="inari_sushi">
          <option value= 1>Inari Sushi  x 3</option>
          <option value= 2>None</option>
          
        </select>
        <br><br>
    
        <label for="maki"><p class="sushi-text">Maki Sushi:</p></label>
        <select name="maki_sushi" id="maki_sushi">
          <option value=1>6 with 3 kinds of fish salmon, tuna, amberjack</option>
          <option value=2>6 with cucumber, carrot and egg</option>
          <option value=3>6 with sesame topping, cucumber, egg and crab stick inside</option>
          <option value=4>None</option>
    
        </select>
        <br><br>
        
        <label for="temaki"><p class="sushi-text">Temaki Sushi:</p></label>
        <select name="temaki_sushi" id="temaki_sushi">
          <option value=1>with Crab Stick, carrot and cucumber  x 3</option>
          <option value=2>With shrimp and cucumber  x 3 </option>
          <option value=3>With Ikura, egg, and salad vegetables  x 3 </option>
          <option value=4>With salmon  x 3</option>
          <option value=5>None</option>
    
        </select>
        <br><br>

        <label for="SOY_OIL"><p class="sushi-text">Soy Oil:</p></label>
        <select name="soy_oil" id="soy_oil">
          <option value=1>Yes</option>
          <option value=2>No </option>
        </select>
        <br><br>
        
        <label for="WASABI"><p class="sushi-text">Wasabi:</p></label>
        <select name="wasabi" id="wasabi">
          <option value=1>Yes</option>
          <option value=2>No </option>
        </select>
        <br><br>

        <input type="submit" />
    </form>
{% endblock %}
