{% extends "base.html" %} {% load static %} {% block content %} 

<div>
    <h1 class="beer">Beer</h1>
    
    <p class="menu">menu</p>
</div>

<div class="container">
    <div class="row">
  <div class="drink col-lg-3">
    <p>1 bottle Asahi Super Dry</p>
    <img src="{% static '/images/asahi.jpg' %}" />
    <p>Price: £ 7.00</p>
  </div>
  
  <div class="drink col-lg-3">
    <p>1 bottle Saporro Premium</p>
    <img src="{% static '/images/saporro.jpg' %}" />
    <p>Price: £ 7.00</p>
  </div>

  <div class="drink col-lg-3">
    <p>1 bottle Echigo Koshihikari</p>
    <img src="{% static '/images/Echigo.jpeg' %}" />
    <p>Price: £ 7.00</p>
  </div>

  <div class="drink col-lg-3">
    <p>1 bottle Orion Premium Draft Beer</p>
    <img src="{% static '/images/orion.jpeg' %}" />
    <p>Price: £ 7.00</p>
  </div>
    
  
</div>
</div> 
<div>
    <h1 class="beer">Choya</h1>
    
    <p class="menu">menu</p>
</div>

<div class="container">
    <div class="row">
  <div class="drink col-lg-4">
    <p>1 bottle Original favor</p>
    <img src="{% static '/images/choya_original.jpeg' %}" />
    <p>Price: £ 9.00</p>
  </div>
  
  <div class="drink col-lg-4">
    <p>1 bottle honey favor</p>
    <img src="{% static '/images/choya-honey.jpeg' %}" />
    <p>Price: £ 9.00</p>
  </div>

  <div class="drink col-lg-4">
    <p>1 bottle peach favor</p>
    <img src="{% static '/images/choya_peach.jpeg' %}" />
    <p>Price: £ 9.00</p>
  </div>
  
</div>
</div> 
<div>
    <h1 class="beer">Sake</h1>
    <p class="menu">menu</p>
</div>
<div class="container">
    <div class="row">
  <div class="drink col-lg-3">
    <p>1 bottle Dassai Sake</p>
    <img src="{% static '/images/sake_dassai.jpeg' %}" />
    <p>Price: £ 15.00</p>
  </div>
  
  <div class="drink col-lg-3">
    <p>1 bottle  Kubota Sake</p>
    <img src="{% static '/images/sake_kubota.jpeg' %}" />
    <p>Price: £ 12.00</p>
  </div>

  <div class="drink col-lg-3">
    <p>1 bottle Yamamoto Sake</p>
    <img src="{% static '/images/sake_yamamoto.jpeg' %}" />
    <p>Price: £ 12.00</p>
  </div>

  <div class="drink col-lg-3">
    <p>1 bottle Juyondai Sake</p>
    <img src="{% static '/images/sake_juyondai.jpeg' %}" />
    <p>Price: £ 13.00</p>
  </div>
    
 
  
</div>
</div> 
<div class="tea">
    <h1 class="beer">Green Tea</h1>
    <p class="menu">menu</p>
    <div class="drink col-lg-12">
        <p>1 cup</p>
        <img src="{% static '/images/green_tea.jpg' %}" />
        <p>price: £ 3.00</p>
      </div>
        
</div>

<div class="water">
    <h1 class="beer">Water</h1>
    <p class="menu">menu</p>
    <div class="drink col-lg-12">
        <p>1 cup</p>
        <img src="{% static '/images/water.jpeg' %}" />
        <p>free</p>
      </div>
    
</div>
{% if not request.user.is_authenticated %}

    <a href="{% url 'account_login' %}"><p class="sign-up-text">Login to make your order</p></a>

    {% else %}

<h2 class="order_text">Make your order</h2>

<form method="POST" action="{% url 'drink_order' %}">
    {% csrf_token %}
    
    <label for="sake"><p class="drink-text">Sake:</p></label>
    <select name="sake" id="sake">
      <option value= 1>1 bottle Dassai Sake</option>
      <option value= 2>1 bottle Kubota Sake</option>
      <option value= 3>1 bottle Yamamoto Sake</option>
      <option value= 4>1 bottle Juyondai Sake</option>
      <option value= 5>None</option>
    </select>
    <br><br>

    <label for="beer"><p class="drink-text">Beer:</p></label>
    <select name="beer" id="beer">
      <option value= 1>1 bottle Asahi Super Dry</option>
      <option value= 2>1 bottle Saporro Premium</option>
      <option value= 3>1 bottle Echigo Koshihikari</option>
      <option value= 4>1 bottle Orion Premium Draft Beer</option>
      <option value= 5>None</option>
    </select>
    <br><br>

    <label for="choya"><p class="drink-text">Choya:</p></label>
    <select name="choya" id="choya">
      <option value=1>1 bottle original favor</option>
      <option value=2>1 bottle hoeny favor</option>
      <option value=3>1 bottle peach favor</option>
      <option value=4>None</option>

    </select>
    <br><br>

    <label for="green_tea"><p class="drink-text">Green Tea:</p></label>
    <select name="green_tea" id="green_tea">
        <option value=1>1 cup</option>
        <option value=2>None</option>
    </select>
    <br><br>

    <label for="water"><p class="drink-text">Water:</p></label>
    <select name="water" id="water">
        <option value=1>1 cup</option>
        <option value=2>None</option>
    </select>
    <br><br>
    <input type="submit" />
</form>
{% endif %}
{% endblock %}
