{% extends "base.html" %}{% block content%} {% load static %}

<div>
    <h1>Your booking as follow:</h1>
</div>

<div>
    <table>
        {% if confirm %}
        <tr>
            
            <td>
                <p> Your Name:{{confirm.your_name}}</p>
            </td>
        </tr>

        <tr>
            <td>
                <p>
                    Dinning Time: {{confirm.dinning_time}}

                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p>
                    Arriving Date:{{confirm.arriving_date}}
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p>
                    Number of people: {{confirm.number_of_people}}
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p>
                    Your email: {{confirm.email}}
                </p>
            </td>
        </tr>
        {% endif %}
    </table>

</div>



{% endblock %}