{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="order-list">Here is your Order:</h1>
<div class="order">
  <!-- test -->

  {% for order in order_list %}
  
  <table class="order-table">
    <tr>
        <td>{{order.ramen}}</td>

    </tr>
    <tr>
      <td>
        {% if order.ramen.toppings_choice == 1 %}

        Egg </td>
        {% endif %}

        {% if order.ramen.toppings_choice == 2 %}
        
        Sea weed </td>
        {% endif %}
        {% if order.ramen.toppings_choice == 3 %}
        
        Pork </td>
        {% endif %}
        {% if order.ramen.toppings_choice == 4 %}
        
        Garlic </td>
        {% endif %}
    </tr>
    <tr>
      <td>
        {% if order.ramen.soup_choice == 1 %}
        Pork bones soup</td>
        {% endif %}
        {% if order.ramen.soup_choice == 2 %}
        Salt soup</td>
        {% endif %}
        {% if order.ramen.soup_choice == 3 %}
        miso soup</td>
        {% endif %}
        {% if order.ramen.soup_choice == 4 %}
        soy sauce soup</td>
        {% endif %}
    </tr>
    <tr>
    <td>
    {% if order.ramen.side_dish == 1 %}
    Gyoza dumpling</td>
    {% endif %}
    {% if order.ramen.side_dish == 2 %}
    Edamame beans</td>
    {% endif %}
    {% if order.ramen.side_dish == 3 %}
    Yakitori skewers (chicken, beef)</td>
    {% endif %}
    {% if order.ramen.side_dish == 4 %}
    Tempura (Chilli squid )</td>
    {% endif %}
    {% if order.ramen.side_dish == 5 %}
    Kimchi</td>
    {% endif %}
    {% if order.ramen.side_dish == 6 %}
    Fried chicken</td>
    {% endif %}
    {% if order.ramen.side_dish == 7 %}
    None</td>
    {% endif %}
    </tr>
    <tr>
        <td>Price: £ {{order.ramen.price}}</td>
    </tr>
  </table>

  {% empty %} {% endfor %} 
  </br>
  {% for order in order_list %}
  
  <table class="order-table" id="sushi_table">
    <tr>
        <td>{{ order.sushi }}</td>
    </tr>
    <tr>
      <td>
        {% if order.sushi.NIGIRI_SUSHI == 1 %}
        raw Salmon x 3</td>
        {% endif %}
        {% if order.sushi.NIGIRI_SUSHI == 2 %}
        raw Tuna x 3</td>
        {% endif %}
        {% if order.sushi.NIGIRI_SUSHI == 3 %}
        shrimp x 3</td>
        {% endif %}
        {% if order.sushi.NIGIRI_SUSHI == 4 %}
        sea urchin (Uni) x 3</td>
        {% endif %}
        {% if order.sushi.NIGIRI_SUSHI == 5 %}
        Ikura x 3</td>
        {% endif %}
        {% if order.sushi.NIGIRI_SUSHI == 6 %}
        Amberjack x 3</td>
        {% endif %}
        {% if order.sushi.NIGIRI_SUSHI == 7 %}
        None</td>
        {% endif %}
    </tr>
    <tr>
      <td>
        {% if order.sushi.INARI_SUSHI == 1 %}
        Inari Sushi x 3</tr>
        {% endif %}
        {% if order.sushi.INARI_SUSHI == 2 %}
        None</tr>
        {% endif %}
    </tr>
    <tr>
      <td>
        
        {% if order.sushi.MAKI_SUSHI == 1 %}
        Salmon, tuna, amberjack</td>
        {% endif %}
        {% if order.sushi.MAKI_SUSHI == 2 %}
        Cucumber, carrot, egg</td>
        {% endif %}
        {% if order.sushi.MAKI_SUSHI == 3 %}
        Cucumber, egg, crab</td>
        {% endif %}
        {% if order.sushi.MAKI_SUSHI == 4 %}
        </td>
        {% endif %}

    </tr>
    <tr>
      <td>
        {% if order.sushi.TEMAKI_SUSHI == 1 %}
        Crab Stick, carrot and cucumber x 3</td>
        {% endif %}
        {% if order.sushi.TEMAKI_SUSHI == 2 %}
        shrimp and cucumber x 3</td>
        {% endif %}
        {% if order.sushi.TEMAKI_SUSHI == 3 %}
        Ikura, egg, and salad vegetables x 3</td>
        {% endif %}
        {% if order.sushi.TEMAKI_SUSHI == 4 %}
        Salmon x 3</td>
        {% endif %}
        {% if order.sushi.TEMAKI_SUSHI == 5 %}
        </td>
        {% endif %}
        
    </tr>
    <tr>
        <td>
        {% if order.sushi.SOY_OIL == 1 %}
        Soy Oil </td>
        {% endif %}
        {% if order.sushi.SOY_OIL == 2 %}
        {% endif %}
    </tr>
    <tr>
      <td>
        {% if order.sushi.WASABI == 1 %}
        Wasabi</td>
        {% endif %}
        {% if order.sushi.WASABI == 2 %}
        {% endif %}

    </tr>
    <tr>
        <td>Price: £ {{order.sushi.price}}</td>
    </tr>
  </table >
  {% endfor %} {% for order in order_list %}
</br>
  
  <table class="order-table">
    <tr>
        <td>{{ order.drink }}</td>
    </tr>
    <tr>
      <td>
        {% if order.drink.SAKE == 1 %}
        1 bottle Sake</td>
        {% endif %}
        {% if order.drink.SAKE == 2 %}
        No </td>
        {% endif %}
    </tr>
    <tr>
      <td>
        {% if order.drink.BEER == 1 %}
        1 bottle Beer</td>
        {% endif %}
        {% if order.drink.BEER == 2 %}
        1 can Beer</td>
        {% endif %}
        {% if order.drink.BEER == 3 %}
        </td>
        {% endif %}
    </tr>
    <tr>
      <td>
        {% if order.drink.CHOYA == 1 %}
        1 bottle Choya</td>
        {% endif %}
        {% if order.drink.CHOYA == 2 %}
        </td>
        {% endif %}
    </tr>
    <tr>
      <td>
        {% if order.drink.GREEN_TEA == 1 %}
        1 cup of Green Tea</td>
        {% endif %}
        {% if order.drink.GREEN_TEA == 2 %}
        </td>
        {% endif %}
    </tr>
    <tr>
      <td>
        {% if order.drink.WATER == 1 %}
        1 cup of Water</td>
        {% endif %}
        {% if order.drink.WATER == 2 %}
        </td>
        {% endif %}
    </tr>
    <tr>
        <td>Price: £ {{order.drink.price}}</td>
    </tr>
  </table>

 {% empty %}
  <p>no orders</p>
  {% endfor %}
  <br>
  <br>
{% for order in order_list %}
  <p class="total-price">Total Price: £ {{order.total_price}}</p>
{% endfor %}
  <!-- end test-->
  {% if orders %} {% for order in orders %}{{ order }}{% endfor %} {% endif %}
  <!-- {% for item in order %}
    {{item}}
    {% endfor %} -->
</div>

<div class="booking-area">
    <h2 class="confirm-text">Confirm your booking</h2>
    <form action="/your-name/" method="post">
        <label for="your_name">Your name: </label>
        <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
       
        <label for="arriving_time">Arriving time:</label>
        <input type="date" id="arriving_time" name="arriving_time">
        <label for="number_of_people">Number of people:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="5">
        <br>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    {% csrf_token %}
    {{form}}
    <br>
    <br>
    <input type="submit" class= "submit-button" value="Submit">
    </form>


</div>

{% endblock %}
