{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="order-list">Here is your Order:</h1>

<form action="/book-time/" method="post">
  <table class="order-table">
    <tr>
      <td>Sushi:{sushi}</td>
      <td></td>
    </tr>
    <tr>
      <td>Ramen:{ramen}</td>
      <td></td>
    </tr>
    <tr>
      <td>Drink:{drink}</td>
    </tr>
    <tr>
      <td>Total Price: {}</td>
    </tr>
  </table>
  {% csrf_token %} {{ form }}
  <input type="submit" value="Submit" class="submit-button" />
</form>
{% endblock content %}
