{% extends "base.html" %} {% load static %} {% block content %} 
<div>
<h1 class="ramen">Toppings</h1>

<p class="menu">menu</p>


    <div class="container">
        <div class="row">
      <div class="sushi col-lg-3">
        <p>Egg</p>
        <img src="{% static '/images/egg.jpg' %}" />
        <p>price: £</p>
      </div>
      
      <div class="sushi col-lg-3">
        <p>Sea weed</p>
        <img src="{% static '/images/sea_weed.jpeg' %}" />
        <p>price: £</p>
       </div>

      <div class="sushi col-lg-3">
        <p>Pork</p>
        <img src="{% static '/images/Cha_Siu.jpg' %}" />
        <p>price: £</p>
      </div>

      <div class="sushi col-lg-3">
        <p>Corn</p>
        <img src="{% static '/images/corn.jpeg' %}" />
        <p>price: £</p>
      </div>
       
      
    </div>
    </div> 
    

</div>
<div>
<h1 class="ramen">Soup</h1>

<p class="menu">menu</p>

    <div class="container">
        <div class="row">
      <div class="sushi col-lg-3">
        <p>Pork Bones soup</p>
        <img src="{% static '/images/pork-soup-ramen.jpg' %}" />
        <p>price: £</p>
      </div>
      
      <div class="sushi col-lg-3">
        <p>Salt soup</p>
        <img src="{% static '/images/salt_soup_ramen.jpg' %}" />
        <p>price: £</p>
      </div>

      <div class="sushi col-lg-3">
        <p>miso soup</p>
        <img src="{% static '/images/miso_soup_ramen.jpg' %}" />
        <p>price: £</p>  
    </div>

      <div class="sushi col-lg-3">
        <p>Soy Sauce soup</p>
        <img src="{% static '/images/soy_sauce_ramen.png' %}" />
        <p>price: £</p>
      </div>

    </div>
    </div> 

</div>
<div>
<h1 class="ramen">Side Dish</h1>
<p class="menu">menu</p>


    <div class="container">
        <div class="row">
      <div class="sushi col-lg-4">
        <p>Gyoza dumpling</p>
        <img src="{% static '/images/gyozas.jpg' %}" />
        <p>price: £</p>
      </div>
      
      <div class="sushi col-lg-4">
        <p>Edamame beans</p>
        <img src="{% static '/images/edamame_bean.jpeg' %}" />
        <p>price: £</p>
      </div>

      <div class="sushi col-lg-4">
        <p>Yakitori skewers (chicken, beef)</p>
        <img src="{% static '/images/yakitori.jpeg' %}" />
        <p>price: £</p>
      </div>

      <div class="sushi col-lg-4">
        <p>Tempura (Chilli squid )</p>
        <img src="{% static '/images/tempura.jpeg' %}" />
        <p>price: £</p>
    </div>
    <div class="sushi col-lg-4">
        <p>Kimchi</p>
        <img src="{% static '/images/kimchi.jpeg' %}" />
        <p>price: £</p>
    </div>
    <div class="sushi col-lg-4">
        <p>Fried Chicken</p>
        <img src="{% static '/images/fried_chicken.jpg' %}" />
        <p>price: £</p>
    </div>

    </div>
    </div> 
</div>
<br>
<br>

<div>

    <h2 class="order_text">Make your order</h2>

<form method="POST" action="{% url 'ramen_order' %}">
    {% csrf_token %}
    
    <label for="toppings"><p class="ramen-text">Toppings:</p></label>
    <select name="toppings_choice" id="toppings">
      <option value= 1>Egg</option>
      <option value= 2>Sea Weed</option>
      <option value= 3>Pork</option>
      <option value= 4>Corn</option>
      <option value= 5>None</option>
    </select>
    <br><br>

    <label for="soup"><p class="ramen-text">Soup:</p></label>
    <select name="soup_choice" id="soup_choice">
      <option value= 1>Pork-Bone-Soup</option>
      <option value= 2>Salt Soup</option>
      <option value= 3>Miso Soup</option>
      <option value= 4>Soy Sauce Soup</option>
      <option value= 5>None</option>
    </select>
    <br><br>

    <label for="side_dish"><p class="ramen-text">side_dish:</p></label>
    <select name="side_dish" id="side_dish">
      <option value=1>Gyoza dumpling</option>
      <option value=2>Edamame beans</option>
      <option value=3>Yakitori skewers (chicken, beef)</option>
      <option value=4>Tempura (Chilli squid )</option>
      <option value=5>Kimchi</option>
      <option value=6>fried chicken</option>
      <option value=7>None</option>

    </select>
    <br><br>
    <input type="submit" />
</form>

</div>
{% endblock %}
