{% extends "base.html" %} {% load static %} {% block content %} 
<div>
<h1 class="ramen">Toppings</h1>

<p class="menu">menu</p>


    <div class="container">
        <div class="row">
      <div class="sushi col-lg-2">
        <p>Egg</p>
        <img src="{% static '/images/egg.jpg' %}" />
        
      </div>
      
      <div class="sushi col-lg-2">
        <p>Sea weed</p>
        <img src="{% static '/images/sea_weed.jpeg' %}" />
      </div>

      <div class="sushi col-lg-2">
        <p>Pork</p>
        <img src="{% static '/images/Cha_Siu.jpg' %}" />
        
      </div>

      <div class="sushi col-lg-2">
        <p>Garlic</p>
        <img src="{% static '/images/inari_sushi.jpeg' %}" />

      </div>
       
      
    </div>
    </div> 
    

</div>
<div>
<h1 class="ramen">Soup</h1>

<p class="menu">menu</p>

    <div class="container">
        <div class="row">
      <div class="sushi col-lg-2">
        <p>Pork Bones soup</p>
        <img src="{% static '/images/pork-soup-ramen.jpg' %}" />
        
      </div>
      
      <div class="sushi col-lg-2">
        <p>Salt soup</p>
        <img src="{% static '/images/salt_soup_ramen.jpg' %}" />
        
      </div>

      <div class="sushi col-lg-2">
        <p>miso soup</p>
        <img src="{% static '/images/miso_soup_ramen.jpg' %}" />
      </div>

      <div class="sushi col-lg-2">
        <p>Soy Sauce soup</p>
        <img src="{% static '/images/soy_sauce_ramen.png' %}" />
        
      </div>

    </div>
    </div> 

</div>
<div>
<h1 class="ramen">Side Dish</h1>
<p class="menu">menu</p>


    <div class="container">
        <div class="row">
      <div class="sushi col-lg-2">
        <p>Egg</p>
        <img src="{% static '/images/inari_sushi.jpeg' %}" />
        
      </div>
      
      <div class="sushi col-lg-2">
        <p>Sea weed</p>
        <img src="{% static '/images/inari_sushi.jpeg' %}" />
        
      </div>

      <div class="sushi col-lg-2">
        <p>Pork</p>
        <img src="{% static '/images/inari_sushi.jpeg' %}" />
        
      </div>

      <div class="sushi col-lg-2">
        <p>Garlic</p>
        <img src="{% static '/images/inari_sushi.jpeg' %}" />
      </div>

    
    </div>
    </div> 
</div>
<br>
<br>

<div>

    <h2 class="order_text">Make your order</h2>

<form method="POST" action="{% url 'ramen_order' %}">
    {% csrf_token %}

    <label for="toppings"><p class="ramen-text">Toppings:</p></label>
    <select name="toppings_choice" id="toppings">
      <option value='(1, "Egg")'>Egg</option>
      <option value='(2, "Sea Weed")'>Sea Weed</option>
      <option value='(3, "Pork")'>Pork</option>
      <option value='(4, "Garlic")'>Garlic</option>
    </select>
    <br><br>

    <label for="soup"><p class="ramen-text">Soup:</p></label>
    <select name="soup_choice" id="soup_choice">
      <option value='(1, "pork bones soup")'>Pork-Bone-Soup</option>
      <option value='(2, "Salt soup")'>Salt Soup</option>
      <option value='(3, "miso soup")'>Miso Soup</option>
      <option value='(4, "soy sauce soup")'>Soy Sauce Soup</option>
    </select>
    <br><br>

    <label for="side_dish"><p class="ramen-text">side_dish:</p></label>
    <select name="side_dish" id="side_dish">
      <option value='(1, "Gyoza dumpling")'>Gyoza dumpling</option>
      <option value='(2, "Edamame beans")'>Edamame beans</option>
      <option value='(3, "Yakitori skewers (chicken, beef)")'>Yakitori skewers (chicken, beef)</option>
      <option value='(4, "Tempura (Chilli squid )")'>Tempura (Chilli squid )</option>
      <option value='(5, "kimchi")'>Kimchi</option>
      <option value='(6, "fried chicken"),'>fried chicken</option>
      <option value='(7, "None")'>None</option>

    </select>
    <br><br>
    <input type="submit" />
</form>

</div>
{% endblock %}
